.shuffle,
.repeat {
  color: #1db954;
  transition: transform 200ms ease-in-out !important;
}
.icon {
  transition: transform 200ms ease-in-out !important;
}
.shuffle:hover,
.repeat:hover,
.icon:hover {
  transform: scale(1.2) !important;
}

.playButton {
  margin: 20px 0 20px 5px;
  transition: transform 200ms ease-in-out !important;
  color: #1db954;
}

.playButton:hover {
  transform: scale(1.1) !important;
  cursor: pointer;
}

.favoriteIcon {
  display: flex;
  transition: transform 200ms ease-in-out !important;
  color: #1db954;
}

.favoriteIcon:hover {
  transform: scale(1.1) !important;
  cursor: pointer;
}

.moreHorizonIcon {
  display: flex;
  transition: transform 200ms ease-in-out !important;
  color: rgb(153, 153, 153);
}

.moreHorizonIcon:hover {
  transform: scale(1.1) !important;
  cursor: pointer;
}

.ipwaUA .MuiSlider-root {
  color: #1db954 !important;
}
